body {
  font-family: "Raleway", sans-serif;
}

nav {
  font-size: 1em;
  padding-top: 2%;
}

.textmid {
  text-align: left;
}

.textmidtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.bottomtitle {
  text-align: center;
  font-weight: bold;
  padding-top: 3%;
  padding-bottom: 1%;
}

.ital {
  font-style: italic;
  color: rgb(90, 90, 90);
}

#bottomtitlelight {
  font-weight: lighter;
  color: rgb(90, 90, 90);
}

#toppic {
  background-image: url("https://raw.githubusercontent.com/NiklasL1/Transform-a-PSD/master/assets/Layer 7.png");
  background-size: 100% 100%;
  min-height: 70vh;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

#widepicback {
  grid-area: widepic1;
  background-image: url("https://raw.githubusercontent.com/NiklasL1/Transform-a-PSD/master/assets/Layer 23.png");
  position: relative;
  z-index: -2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  flex-direction: column;
  background-size: cover;
}

#widepicback:after {
  background-color: #80bba4;
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.8;
}

#shopnow {
  color: white;
  font-weight: bold;
}

.menuitem {
  font-weight: bold;
}

.menuitem2 {
  display: inline-block;
  margin: 1% 1% 1% 1%;
  vertical-align: middle;
}

.menuitem:hover {
  color: #64c29e;
  text-shadow: 1px 1px 5px #50967b;
  cursor: pointer;
}

.logoitem {
  display: inline-block;
  margin: 1% 3% 1% 3%;
  vertical-align: middle;
}

.capit {
  text-transform: uppercase;
  font-weight: bold;
}

.dback {
  background: #f7f7f7;
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.dback2 {
  background: #f7f7f7;
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-top: 5%;
  padding-bottom: 5%;
}

.lback {
  background: #ffffff;
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.lback2 {
  background: #ffffff;
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.blback {
  background: rgb(40, 47, 53);
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-top: 3.5%;
  padding-bottom: 3.5%;
}

.setwidth {
  width: 60%;
}

.iconsize {
  max-width: 52px;
  margin-left: auto;
  margin-right: auto;
  align-self: space-around;
}

.iconsize2 {
  max-width: 94px;
  margin-left: auto;
  margin-right: auto;
  align-self: space-around;
}

.iconsmalltext {
  margin-left: auto;
  margin-right: auto;
}

.maintext {
  font-size: 1em;
  font-weight: lighter;
  color: grey;
  font-weight: bold;
}

.lineundertext {
  font-family: sans-serif;
  margin-left: auto;
  margin-right: auto;
}

.centercont {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: center;
  padding-top: 10%;
  padding-bottom: 10%;
  margin-left: auto;
  margin-right: auto;
}

.midgrid {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "bigpic1 bigpic1 bigpic1 textarea1"
    "bigpic1 bigpic1 bigpic1 textarea1"
    "bigpic1 bigpic1 bigpic1 horpic1"
    "textarea2 bigpic2 bigpic2 bigpic2"
    "textarea2 bigpic2 bigpic2 bigpic2"
    "horpic2 bigpic2 bigpic2 bigpic2"
    "midpic1 textarea3 textarea3 midpic2"
    "midpic1 textarea3 textarea3 midpic2"
    "midpic1 horpic3 horpic3 midpic2";
}

#bigpic1 {
  grid-area: bigpic1;
  background-image: url("https://raw.githubusercontent.com/NiklasL1/Transform-a-PSD/master/assets/Layer 10.png");
  position: relative;
  min-width: 200px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bigpic2 {
  grid-area: bigpic2;
  background-image: url("https://raw.githubusercontent.com/NiklasL1/Transform-a-PSD/master/assets/Layer 12.png");
  position: relative;
  min-width: 200px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

#midpic1 {
  grid-area: midpic1;
  background-image: url("https://raw.githubusercontent.com/NiklasL1/Transform-a-PSD/master/assets/Layer 15.png");
  position: relative;
  min-width: 200px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

#midpic2 {
  grid-area: midpic2;
  background-image: url("https://raw.githubusercontent.com/NiklasL1/Transform-a-PSD/master/assets/Layer 14.png");
  position: relative;
  min-width: 200px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

#horpic1 {
  grid-area: horpic1;
  background-image: url("https://raw.githubusercontent.com/NiklasL1/Transform-a-PSD/master/assets/Layer 11.png");
  position: relative;
  min-width: 200px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

#horpic2 {
  grid-area: horpic2;
  background-image: url("https://raw.githubusercontent.com/NiklasL1/Transform-a-PSD/master/assets/Layer 13.png");
  position: relative;
  min-width: 200px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

#horpic3 {
  grid-area: horpic3;
  background-image: url("https://raw.githubusercontent.com/NiklasL1/Transform-a-PSD/master/assets/Layer 16.png");
  position: relative;
  min-width: 200px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.textarea1 {
  grid-area: textarea1;
}

.textarea2 {
  grid-area: textarea2;
}

.textarea3 {
  grid-area: textarea3;
}

.bottomgrid {
  min-height: 50vh;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "tinypic1 tinypic2 midpic3 midpic4 widepic1 widepic1"
    "widepic2 widepic2 midpic3 midpic4 tinypic3 tinypic4";
}

#tinypic1 {
  grid-area: tinypic1;
  background-image: url("https://raw.githubusercontent.com/NiklasL1/Transform-a-PSD/master/assets/Layer 19.png");
  position: relative;
  min-width: 200px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

#tinypic2 {
  grid-area: tinypic2;
  background-image: url("https://raw.githubusercontent.com/NiklasL1/Transform-a-PSD/master/assets/Layer 21.png");
  position: relative;
  min-width: 200px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

#tinypic3 {
  grid-area: tinypic3;
  background-image: url("https://raw.githubusercontent.com/NiklasL1/Transform-a-PSD/master/assets/Layer 24.png");
  position: relative;
  min-width: 200px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

#tinypic4 {
  grid-area: tinypic4;
  background-image: url("https://raw.githubusercontent.com/NiklasL1/Transform-a-PSD/master/assets/Layer 26.png");
  position: relative;
  min-width: 200px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

#midpic3 {
  grid-area: midpic3;
  background-image: url("https://raw.githubusercontent.com/NiklasL1/Transform-a-PSD/master/assets/Layer 22.png");
  position: relative;
  min-width: 200px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

#midpic4 {
  grid-area: midpic4;
  background-image: url("https://raw.githubusercontent.com/NiklasL1/Transform-a-PSD/master/assets/Layer 25.png");
  position: relative;
  min-width: 200px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

#widepic2 {
  grid-area: widepic2;
  background-image: url("https://raw.githubusercontent.com/NiklasL1/Transform-a-PSD/master/assets/Layer 23.png");
  position: relative;
  min-width: 200px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

#widepic2 {
  grid-area: widepic2;
  background-image: url("https://raw.githubusercontent.com/NiklasL1/Transform-a-PSD/master/assets/Layer 20.png");
  position: relative;
  min-width: 200px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.discoverbutton {
  background: rgba(255, 255, 255, 0);
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff;
  padding: 1.5% 4.5% 1.5% 4.5%;
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
}

.discoverbutton:hover {
  background: gray;
}

.emailtop {
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.emailform {
  background: #ffffff00;
  border-width: 1px;
  border-color: rgba(128, 128, 128, 0.199);
  padding: 20px 200px 20px 15px;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  margin-right: 5px;
  font-style: italic;
  color: grey;
  margin-right: 3px;
}

#emailpad {
  padding-top: 1%;
  padding-block-end: 1%;
}

.gobutton {
  padding: 12px 35px 15px 35px;
  background: #64c29e;
  border-width: 0px;
  font-size: 1.6em;
  color: whitesmoke;
  display: flex;
  margin-left: 3px;
  cursor: pointer;
}

.gobutton:hover {
  background: #50967b;
}

.footera1 {
  font-size: 0.85em;
  font-weight: bold;
  color: rgb(90, 90, 90);
}

.footera2 {
  margin-top: -12px;
  font-size: 0.95em;
  font-style: italic;
  color: rgb(90, 90, 90);
  font-weight: bold;
}

.footera3 {
  font-size: 0.95em;
  font-style: italic;
  color: rgb(90, 90, 90);
  font-weight: bold;
  margin-right: 10px;
}

.yebo {
  font-family: "Pacifico", cursive;
  font-size: 1.35em;
  cursor: pointer;
}

#footerlayout {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#footerlayout2 {
  display: flex;
  align-items: center;
}

#footergrid1 {
  display: grid;
  width: 150px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "twitter facebook pinterest";
}

#twitter {
  grid-area: twitter;
  background-image: url(https://raw.githubusercontent.com/NiklasL1/Transform-a-PSD/master/assets/rs3.png);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

#facebook {
  grid-area: facebook;
  background-image: url(https://raw.githubusercontent.com/NiklasL1/Transform-a-PSD/master/assets/rs2.png);
  width: 35px;
  height: 34px;
  background-repeat: no-repeat;
}

#pinterest {
  grid-area: pinterest;
  background-image: url(https://raw.githubusercontent.com/NiklasL1/Transform-a-PSD/master/assets/rs1.png);
  width: 35px;
  height: 34px;
}

#@media only screen and (max-width: 480px) {
  #toppic {
    height: 240px;
    width: 480px;
  }

  .dback {
    height: 140px;
    width: 480px;
  }

  .dback2 {
    background: #f7f7f7;
    height: 60px;
    width: 480px;
  }

  .lback {
    background: #ffffff;
    height: 140px;
    width: 480px;
  }

  .lback2 {
    background: #ffffff;
    height: 135px;
    width: 480px;
  }

  .blback {
    background: rgb(40, 47, 53);
    height: 60px;
    width: 480px;
  }
}

#@media only screen and (max-width: 768px) {
  #toppic {
    height: 384px;
    width: 768px;
  }

  .dback {
    height: 225px;
    width: 768px;
  }

  .dback2 {
    background: #f7f7f7;
    height: 96px;
    width: 768px;
  }

  .lback {
    background: #ffffff;
    height: 225px;
    width: 768px;
  }

  .lback2 {
    background: #ffffff;
    height: 216px;
    width: 768px;
  }

  .blback {
    background: rgb(40, 47, 53);
    height: 96px;
    width: 768px;
  }
}

#@media only screen and (max-width: 1024px) {
  #toppic {
    height: 511px;
    width: 1024px;
  }

  .dback {
    height: 299px;
    width: 1024px;
  }

  .dback2 {
    background: #f7f7f7;
    height: 127px;
    width: 1024px;
  }

  .lback {
    background: #ffffff;
    height: 299px;
    width: 1024px;
  }

  .lback2 {
    background: #ffffff;
    height: 287px;
    width: 1024px;
  }

  .blback {
    background: rgb(40, 47, 53);
    height: 127px;
    width: 1024px;
  }
}
